<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fe4ebeaca1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>        
    <header>
        <section class="header-top-section">
        <img class="liebre-logo" src="/images/logo-mercado-liebre.svg" alt="Logo de mercado liebre">
        <form action="" class="search-form">
            <input  class="input-header" type="text" id="fname" name="fname" placeholder="Buscar productos, marcas">
            <label for="fname">
                <i class="fa fa-search"></i>
            </label>
        </form>       

        <div class="top-section-div"><p class="top-section-div-p"><i class="fa-solid fa-hand-holding-dollar"></i>  en cuotas y sin tarjeta de crédito</p></div>
        </section>
        <section class="header-bottom-section">
        <nav>
            <ul class="lista-header-left" >
                <li> <a class="link-header" href = >Ofertas</a> </li>
                <li> <a class="link-header" href = >Tiendas Oficiales</a> </li>
                <li> <a class="link-header" href = >Vender</a> </li>
                <li> <a class="link-header" href = >Ayuda</a> </li>
            </ul>
    
            <ul class="lista-header-right">
                <li> <a class="link-header" href ="/register">Creá tu cuenta</a> <i class="fa-solid fa-id-card"></i> </li>
                <li> <a class="link-header" href ="/login" >Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i> </li>
                <li> <a class="link-header" href = >Mis compras</a> <i class="fa-solid fa-basket-shopping"></i> </li>
            </ul>
        </nav>
        
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        </section>
        <img class="header-banner" src="/images/img-home-banner.jpg" alt="banner del home">
    </header>

    <main>

        <section class="register-section">
            <form class="register-section-form" action="/" method="POST">

                <div class="register-section-user">

                    <input type="text" class="form-control" id="nombre" placeholder="Nombre y Apellido">

                </div>

                <div class="register-section-user">

                    <input type="text" class="form-control" id="username" placeholder="Nombre de Usuario">

                </div>

                <div class="register-section-email">
                    
                    <input type="email" class="form-control" id="email" placeholder="Email">

                </div>

                <div>
                    <p class="register-p">Fecha de nacimiento</p>
                </div>

                <div class="register-section-birthDate">
                    
                    <input type="date" class="form-control" id="date" value="MM/DD/AAAA">

                </div>

                <div class="register-section-domicilio">
                    
                    <input type="text" class="form-control" id="domicilio" placeholder="Domicilio">

                </div>

                <div>
                    <p class="register-p">Perfil de usuario</p>
                </div>

                <div class="radio-perfil-usuario">

                    <input type="radio" name="perfil-usuario" value="Comprador" checked>
                    <label class="intereses-label">Comprador</label>

                    <input type="radio" name="perfil-usuario" value="Vendedor">
                    <label class="intereses-label">Vendedor</label>

                </div>

                <div>
                    <p class="register-p">Intereses</p>
                </div>

                <div class="checkBox-intereses">

                    <label class="intereses-label">
                        <input type="checkbox" name="intereses" value="Electro"><p class="intereses-p">Electro</p>
                    </label>

                    <label class="intereses-label">
                        <input type="checkbox" name="intereses" value="Moda"><p class="intereses-p">Moda</p>
                    </label>

                    <label class="intereses-label">
                        <input type="checkbox" name="intereses" value="Hogar"><p class="intereses-p">Hogar</p>
                    </label>

                    <label class="intereses-label">
                        <input type="checkbox" name="intereses" value="Jugueteria"><p class="intereses-p">Juguetería</p>
                    </label>

                    <label class="intereses-label">
                        <input type="checkbox" name="intereses" value="Vida sana"><p class="intereses-p">Vida sana</p> 
                    </label>
                </div>

                <div class="register-section-buttons">

                <button type="submit" class="register-submit-button">Enviar</button>

                <button type="reset" class="register-reset-button">Borrar</button>

                </div>

            </form>

        </section>

    </main>   
    
    
    <footer>
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h4 class="titulo-footer"><strong>Pagá con tarjeta o en efectivo</strong></h4>

            <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>

        </section>            
        <section>
            <i class="fa-solid fa-gift"></i>
            <h4 class="titulo-footer"><strong>Envío gratis desde $ 2.500</strong></h4>

            <p class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
               productos. Es un beneficio de Mercado Puntos.</p>
            
        </section>        
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4 class="titulo-footer"><strong>Seguridad, de principio a fin</strong></h4>

            <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>

        </section>
        <section>
            <p class="texto-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </section>

    </footer>
    
</body>
</html>