*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

body{    
    font-family: 'Roboto';    
}

header{
    background-color: #EAC926;
    margin: auto;
    width: 100%;
}

.header-top-section{
    display: flex;
    flex-wrap: wrap;
}

.header-bottom-section{
    display: none;
}

.top-section-div{
    width: 100%;
    text-align: center;
}

.liebre-logo{
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
}

.search-form{
    margin-top: 10px;
    margin-left: 5px;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

input#fname.input-header{
    width: 90%;
}

.link-header:link{
    text-decoration: none;    
}
.link-header:visited{
    text-decoration: none;    
}
.link-header:hover{
    text-decoration: underline;    
}

main{
    background-color: #ebebeb;
    box-sizing: border-box;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    width: 100%;
}

article{
    background-color:  white;
    margin: 10px;
    width: 100%;
}

p {    
    text-align: center;
    font-size: 12px;
}

p.precios{
    font-size: 18px;
    width: 40%;
}

h2.titulares{
    background-color: #ebebeb;    
    font-size: 24px;
    color:#666;
    text-align: left;
}
p.descuentos{
    font-size: 16px;
    color: green;
    width: 45%;
}

p.descripciones{
    font-size: 16px;
    color: #666;
    width: 100%;
}

.burger-menu{
    text-align: center;
    font-size: medium;
}

.burger-menu > i{
    border-radius: 10%;
    background-color: #1259c3;
    color:white;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;        
}

.productos{    
    display: block;    
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

ul.lista-header-left{
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

ul.lista-header-right{
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: right;
}

ul a{
    color: black;
    margin: 1px;
}

ul i{
    margin-right: 10px;
}

.header-banner{
    width: 100%;
}

.fa-solid.fa-credit-card{
    display: block;
    color: #1259c3;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: center;
    
}

.fa-solid.fa-gift{
    display: block;
    color: #1259c3;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;  
    margin-top: 50px;  
    text-align: center;
}

.fa-solid.fa-user-shield{
    display: block;
    color: #1259c3;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: center;    
}

h4.titulo-footer{
    color: #666;
    text-align: center;
    margin-bottom:  0px;
}

p.texto-copyright{
    color:#666;
    font-size: 12px;
    margin-top: 50px;
    text-align: left;
}

p.texto-footer{
    color: #666;
    font-size: 12px;
    margin-top: 0px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

footer{
    border:solid #ebebeb;
    border-width: 5px;
    width: 100%;
}

div.detalleproducto{
    border-top: solid 1px #ebebeb;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.precios,
.descuentos,
.descripciones{
    padding: 0px 15px 0px 15px;
    text-align: left;
}
main section article i{
    background-color: #FFF;
    border: 1px solid #39b54a;
    border-radius: 50%;
    color: #39b54a;
    display: block;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: -15px;
    width: 30px;
}

.section-producto{
    display: flex;
    flex-wrap: wrap;
}

/*.fa-solid.fa-truck{
    border: solid 1px green;
    border-radius: 50%;
    font-size: 1em;    
    color: green;
    margin-left: 15px;
    margin-top: 10px;
    padding: 10px;
    position: absolute;
    right: 0px;
    text-align: center;
}*/

/*LOGIN*/
.login-section{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.login-section-user{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

.login-section-password{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.login-section-form{
    display: flex;
    flex-direction: column;
}

.form-control{
    border-radius: 5px;
    border: hidden;
    height: 30px;
    padding-left: 20px;
    width: 90%;
}

.login-button{
    border-radius: 5px;
    background-color: #1259c3;
    color: #FFF;
    height: 30px;
    margin-bottom: 30px;
}

/*REGISTER*/

.register-section-form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;  
}

.register-section-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.register-submit-button{
    border-radius: 5px;
    background-color: #1259c3;
    color: #FFF;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    width: 20%;
}

.register-reset-button{
    border-radius: 5px;
    background-color: #1259c3;
    color: #FFF;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 20%;
}

.checkBox-intereses{
    display: flex;
    flex-direction: column;
    
}

.intereses-label{
    margin-bottom: 20px;
}

.intereses-p{
    color: black;
    display: inline-block;
    font-family: "Roboto";
    font-size: 14px;
    margin-left: 15px;
    text-align: left;
}

.register-p{
    text-align: left;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.register-section-user{
    margin-bottom: 30px;
}

.register-section-birthDate{
    margin-bottom: 30px;
}


@media (min-width: 361px){
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);                
    }

    .burger-menu{
        display: none;
    }

    .header-top-section{
        flex-wrap: wrap;
        align-items: center;

    }
    
    .top-section-div-p{
        font-size: 16px;
    }

    .liebre-logo{
        width: 32%;
    }

    .top-section-div{
        width: 32%;
    }
    .search-form{
        width: 32%;
    }
}

@media (min-width: 769px){
    article{
        width: 45%;
    }

    .top-section-div-p{
        font-size: 18px;
    }

    .header-bottom-section{
        display: block;
        margin-bottom: 10px;
    }
    
}

@media (max-width: 360px){
    .descripciones{
        display: none;
    }
    .lista-header{
        display: none;
    }
}

@media (min-width: 992px){
    article{
        width: 22%;
    }

    .top-section-div-p{
        font-size: 24px;
    }

}

