body{    
    font-family: 'Roboto';    
}

header{
    background-color: #EAC926;
    margin-bottom: 0px;
}

.liebre-logo{
    margin-left: 50px;
    margin-bottom: 10px;
    width: 50%;
}

.search-form{
    margin-left: 50px;
}

.link-header:link{
    text-decoration: none;    
}
.link-header:visited{
    text-decoration: none;    
}
.link-header:hover{
    text-decoration: underline;    
}

main{
    background-color: #ebebeb;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    width: 90%;
}

article{
    background-color:  white;
    margin: 10px;
}

p {    
    text-align: center;
    font-size: 12px;
}

p.precios{
    font-size: 18px;
}

h2.titulares{
    background-color: #ebebeb;    
    font-size: 24px;
    color:#666;
    text-align: left;
}
p.descuentos{
    font-size: 16px;
    color: green;
}

p.descripciones{
    font-size: 16px;
    color: #666;
}

.burger-menu{
    text-align: center;
    font-size: medium;
}

.burger-menu > i{
    border-radius: 10%;
    background-color: #1259c3;
    color:white;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;        
}

.productos{    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul.lista-header{
    list-style: none;
    padding: 0px;

}

ul a{
    color: black;
}

.header-banner{
    width: 100%;
}

.fa-solid.fa-credit-card{
    display: block;
    color: #1259c3;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: center;
    
}

.fa-solid.fa-gift{
    display: block;
    color: #1259c3;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;  
    margin-top: 50px;  
    text-align: center;
}

.fa-solid.fa-user-shield{
    display: block;
    color: #1259c3;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: center;    
}

h4.titulo-footer{
    color: #666;
    text-align: center;
    margin-bottom:  0px;
}

p.texto-copyright{
    color:#666;
    font-size: 12px;
    margin-top: 50px;
    text-align: left;
}

p.texto-footer{
    color: #666;
    font-size: 12px;
    margin-top: 0px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}

footer{
    border:solid #ebebeb;
    border-width: 5px;
    width: 100%;
}

div.detalleproducto{
    border-top: solid 1px #ebebeb;
}

.precios,
.descuentos,
.descripciones{
    padding: 0px 15px 0px 15px;
    text-align: left;
}

.fa-solid.fa-truck{
    border: solid 1px green;
    border-radius: 50%;
    font-size: 4em;    
    color: green;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}

@media (min-width: 361px){
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

@media (min-width: 769px){
    
}